* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Sans-Serif;
	font-size: 1rem;
}

/* body {
	overflow: hidden;
} */

.top_div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	max-width: 35vw;
	border: 1px solid #d6d6d6;
}

.dropdown {
	min-width: 16vw;
	font-weight: bold;
}

.container {
	min-height: 100vh;
	max-height: fit-content;
	max-height: -moz-fit-content;
	width: 100vw;
}

.tab,
.tab.jsx-3201076643,
.tab.jsx-2137964197,
.tab.jsx-1838447271 {
	background-color: rgba(0, 0, 0, 0) !important;
	color: rgba(255, 255, 255, 0.63) !important;
	font-weight: bold;
}

.tab--selected,
.tab--selected.jsx-3201076643,
.tab--selected.jsx-2137964197,
.tab--selected.jsx-1838447271 {
	background-color: rgba(0, 0, 0, 0) !important;
	color: white !important;
}

h1,
h2,
h5,
h4,
h3,
a {
	color: white;
}

a {
	text-decoration: none;
}

.messagediv {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	justify-items: center;
	padding-top: 20vh;
	align-items: center;
	row-gap: 15vh;
}

.new_session_div {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	justify-items: center;
	padding-top: 2.5vh;
	align-items: center;
	text-align: center;
	padding-bottom: 3vh;
}

.new_session_div button {
	color: purple;
	background-color: white;
	padding: 0.4rem;
	font-size: 1.5rem;
}
